{% block s4gtm_page_tabs %}
    <div class="s4gtm-page-tabs">
        <mt-tabs
                :items="tabItems"
                :default-item="activeTab"
                @new-item-active="onTabChange">
        </mt-tabs>
    </div>
{% endblock %}
