{% block s4gtm_settings_index %}
    <sw-page class="s4gtm-settings-index">

        {% block s4gtm_settings_index_smart_bar_header %}
            <template #smart-bar-header>
                <h2 class="s4gtm-settings-index__title">
            <span class="s4gtm-settings-index__title-icon" aria-hidden="true">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                    <path d="M0 0 C6.6 0 13.2 0 20 0 C20 6.6 20 13.2 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z " fill="#F38B05" transform="translate(0,0)"></path>
                    <path d="M0 0 C6.6 0 13.2 0 20 0 C20 0.33 20 0.66 20 1 C14.72 1 9.44 1 4 1 C3.20396204 7.62799948 3.20396204 7.62799948 5.96875 10.109375 C7.22171875 10.92148437 7.22171875 10.92148437 8.5 11.75 C11.03125 13.421875 11.03125 13.421875 13 15 C13 15.99 13 16.98 13 18 C14.94999129 17.80528889 14.94999129 17.80528889 17 17 C18.28436734 15.0162233 18.28436734 15.0162233 19 13 C19.33 15.31 19.66 17.62 20 20 C13.4 20 6.8 20 0 20 C0 13.4 0 6.8 0 0 Z " fill="#FA8F05" transform="translate(0,0)"></path>
                    <path d="M0 0 C0.99 0 1.98 0 3 0 C3.185625 0.5775 3.37125 1.155 3.5625 1.75 C5.11332083 4.17737174 6.0883861 4.77640513 8.5625 6.125 C12 8 12 8 13 10 C13.039992 11.99960012 13.04346799 14.00047242 13 16 C11.68 16 10.36 16 9 16 C7.98648336 14.34151823 6.98879205 12.67334039 6 11 C2.96798075 8.75592746 2.96798075 8.75592746 0 7 C-1 6 -1 6 -1.125 3.5 C-1 1 -1 1 0 0 Z " fill="#ffffff" transform="translate(4,2)"></path>
                </svg>
            </span>
                    {{ $tc('s4gtm-settings.general.mainMenuItemGeneral') }}
                </h2>
            </template>
        {% endblock %}

        {% block s4gtm_settings_index_smart_bar_actions %}
            <template #smart-bar-actions>
                <div class="s4gtm-settings-index__smart-bar-actions"></div>
            </template>
        {% endblock %}

        {% block s4gtm_settings_index_content %}
            <template #content>
                <s4gtm-page-tabs></s4gtm-page-tabs>

                <div class="s4gtm-settings-index__content">
                    <router-view></router-view>
                </div>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
